.my-carousel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20% 10%;
    color: white;
    text-align: center;
}

.my-carousel-item-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cover/cover-1.png);
}

.my-carousel-item-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cover/cover-2.jpg);
}

.my-carousel-item-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cover/cover-3.jpg);
}

.course-min-height {
    min-height: 230px;
}
